#header__bgImage .navbar>.container-fluid,
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
#navbarNavPage{
    justify-content: flex-end;
}
.navbar-nav{
    align-items: center;
}
.navbar-light{
    .navbar-toggler{
        border-color: transparent;
        i{
            font-size: 2.5rem;
        }
    }
    .navbar-nav{
        .nav-link{
            @include font($font-secondary, 2em, 600);
            text-transform: capitalize;
            color: $principal;
        }
        .nav-link.active,
        .show>.nav-link{
            color: $secondary;
        }
    }
}
.header__content{
    justify-content: end;
    align-items: center;
    margin: 13rem 3rem;
    position: absolute;
    z-index: 2;
    right: 1.5vh;
    bottom: 17vh;
}
.header__logo{
    position: relative;
    margin-right: 15rem;
}
.header__socials{
    i{
        font-size: 2.3em;
        padding: .9rem;
        color: $secondary;
        &:hover{
            transform: scale(1.5);
        }
        
    }
    .fa-instagram{
        animation-name: crazyicon;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 2.5s;
    }
    .fa-facebook-f{
        animation-name: crazyicon;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 3s;
    }
    .fa-twitter{
        animation-name: crazyicon;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 3.5s;
    }
    .fa-whatsapp{
        animation-name: crazyicon;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 4s;
    }
}
.header__down{
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    margin-left: -2.025rem;
    z-index: 2;
    i {
        font-size: 3em;
        padding: .9rem;
        color: $principal;
        animation-name: down_header;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: .8s;
    }
}