.main__catalogue{
    display: grid;
    grid-template-columns: minmax(max-content, 1600px);
    grid-template-rows: repeat(5, 60rem);
    justify-content: center;
    .title__page{
        color: $bg-color;
    }
    .text__page{
        font-size: 1.3em;
        font-weight: 400;
    }
}
@each $image, $value in $images {
    ##{$image}{
        background-image: url('../img/#{$image}.jpg');
    }
}
.catalogue__item{
    background-size: cover;
    background-position: center center;
}
.catalogue__description{
    background-color: #40798cbf;
    @include sizes(40rem, 45rem);
    margin: 3rem;
    padding: 2rem;
    color: $bg-color;
}
.btn-page{
    display: block;
    text-align: center;
    padding: .5rem 2rem;
    margin: 5rem 3rem;
    background-color: $principal;
    color: $bg-color;
    @include font($font-secondary, 1.9em, normal);
    text-transform: uppercase;
    &:hover, .form__contact button:hover{
        background-color: $secondary;
        color: $nav-color;
    }
}