.bg-contact{
    background-image: url('../img/contact-image.jpg');
    background-size: cover;
    background-position: center center;
    padding: 1rem 3rem;
    min-height: 70vh;
}
.div__contact{
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}
.title__page{
    margin: 3rem 0;
    @include font($font-tertiary, 3em, 400);
    color: $principal;
}
.subtitle__page{
    margin-bottom: 5rem;
    @include font($font-primary, 2em, normal);
}
.text__page{
    @include font($font-primary, 1.7em, 600);
    margin: 1rem 0;
    
}
.form__contact{
    width: 45vh;
    input{
        margin: 1rem 0;
        padding: .5rem 2rem;
        width: 100%;
        border-radius: .5rem;
        border-width: 0;
        background-color: #C4C4C4;
        color: $principal;
        @include font($font-primary, 1.4em, normal);
        &::placeholder{
            font-family: $font-primary;
            color: $bg-color;
        }
    }
    textarea{
        @extend input;
        height: 15rem;
    }
}
.form__contact button{
    margin: 2.5rem 0;
    padding: .5rem 2rem;
    width: 100%;
    border-radius: .5rem;
    border-width: 0;
    background-color: $principal;
    color: $bg-color;
    @include font($font-secondary, 1.6em, normal);
    text-transform: uppercase;
}