main.principal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: .5fr .1fr 1fr .75fr .1fr 1fr .75fr;
    grid-gap: 1.5rem 3rem;
    align-items: center;
    margin-bottom: 5rem;
}
.h1__title{
    grid-column: 1/5;
    text-align: center;
    align-self: center;
    font-size: 3.4em;
    color: $principal;
}
.h3__phrase--one{
    grid-column: 1/5;
    text-align: end;
    font-size: 4.2em;
    background: -webkit-linear-gradient(#1f363d, #e5e5e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.image--one{
    grid-column: 1/3;
}
.image--two{
    grid-column: 3/5;
}
.h3__contact{
    grid-column: 1/2;
    @include font($font-tertiary, 1.8em, 400);
    text-transform: uppercase;
    color: $secondary;
    transform: rotate(270deg);
    text-align: right;
    width: 2rem;
    padding-right: 14rem;
    &:hover{
        cursor: pointer;
        font-weight: 600;
    }
}
.image--three{
    grid-column: 2/4;
}
.h3__phrase--two{
    grid-column: 4/5;
    text-align: end;
    font-size: 4.2em;
    background: -webkit-linear-gradient(#e5e5e5, #1f363d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h3__phrase--three{
    grid-column: 1/5;
    font-size: 4.2em;
    background: -webkit-linear-gradient(#1f363d, #e5e5e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.image--four{
    grid-column: 1/3;
    position: relative;
    top: 13rem;
}
.image--five{
    grid-column: 3/5;
}
.h3__phrase--four{
    grid-column: 1/3;
    align-self: end;
    font-size: 4.2em;
    background: -webkit-linear-gradient(#e5e5e5, #1f363d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.image--six{
    grid-column: 3/5;
}