.bg-services{
    background-image: url('../img/virender-singh--unsplash.jpg');
    background-size: cover;
    background-position: center center;
    padding: 1rem 3rem;
    min-height: 70vh;
    justify-content: center;
}
.table-grid{
    padding: 5rem;
}
.section--services{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 75px 75px 75px;
    text-align: center;
    align-items: center;
}