$principal: #1f363d;
$secondary: #40798C;
$bg-color: #f2f3f2;
$nav-color: #E5E5E5;
$copyright-color: #70a9a1;
$font-primary: 'Mukta Vaani', sans-serif;
$font-secondary: 'Dosis', sans-serif;
$font-tertiary: 'Syncopate', sans-serif;

$images: (
    quadrat: 'quadrat',
    abra: 'abra',
    nuvole: 'nuvole',
    leger: 'leger',
    simplice: 'simplice'
);